---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Testimony">
  <div class="max-w-5xl mx-auto pt-4 flex flex-col gap-2 px-2 mb-12">
    <h1 class="font-display font-bold text-3xl">My Testimony</h1>
    <section class="pb-6">
        <p class="text-md leading-relaxed">
    I was born into a Christian Family, raised in a Christian home going to Church, and learning Bible Stories in Sunday School, but that didn't make me a Christian.
When I was old enough I  would go to the evening service too and that wouldn't make me a Christian either, although it was a pattern that I would come to appreciate, despite later having some protestations about going twice on the same day. 
I don't know if there was ever a time when I thought there wasn't a God. 
</p>
<br />
<p class="text-md leading-relaxed">
    With a mixture of this and the bible stories, it was comforting to know that God was there and what he was like even in my harder years at school.
Growing up going to Church and behaving in a mostly nice and good way to those around me, in school and in Church there were times when I thought I was a pretty "Good" person. 
I didn't tend to lie, I didn't steal and swearing wasn't a part of my vocabulary. 
</p>
<br />
<p class="text-md leading-relaxed">
There is a part of me that looking back, may have said If I was to go to heaven or hell, I'd have said, I probably go to Heaven due to my good behaviour. 
But this didn't make me a Christian either and I would soon learn that this kind of thinking was not only incredibly wrong, but also inwardly extremely proud and arrogant.
</p>
<br />
<p class="text-md leading-relaxed">
Around the time I was 13/14, I went to the <a href="https://www.emw.org.uk/what-we-do/conferences-events/english-aber-summer-conference-2/" target="_blank" rel="noopener noreferrer"> Aberystwyth Conference </a> with my parents and brother, where I heard the Gospel in a way that I hadn't seemingly heard before. 
I had probably heard many bible teachings from the church I attended and from my Sunday school classes, it was starting to become real to me. 
</p>
<br />
<p class="text-md leading-relaxed">
    Whilst I'm not sure if I was converted at the conference, it was at least the start of my journey. 
    Hearing of the seriousness of my sin brought about a conviction of sin in me. Something that would stay with me for a while. 
    In the coming months, I would hear the gospel more and more times in different meetings I would attend. 

</p>
<br />
<p class="text-md leading-relaxed">
    I would hear often of how Christ died to save sinners. 
    I knew I was a great sinner and needed a Saviour from all my wrongdoing, and all my wrong thoughts, and ultimately I needed God to change my heart. 
    I needed a Saviour to save me from my sin and I needed to put my trust in Him for all the wrong that I had done. 
    I needed the Lord Jesus Christ to save me. Whilst I'm not quite sure when I was converted, over the following months after that <a href="https://www.emw.org.uk/what-we-do/conferences-events/english-aber-summer-conference-2/" target="_blank" rel="noopener noreferrer">Aberystwyth Conference</a> the Lord was calling me to Himself and I put my faith trust in Him alone to save me. There was nothing I could do to earn it or to add to it. He has saved me not because of any good in me, but all because of His glorious grace.
</p>
</section>
</div>
</BaseLayout>