---
import RelativeDate from './RelativeDate.vue';
interface Reading {
  book: string;
  progress: number;
  lastRead: string | Date;
}

interface Props {
  readings: Reading[];
}
const { readings } = Astro.props;


// optional: clean + sort data once
const activeReadings = readings
  ?.filter(r => r?.book)
  .slice()
  .sort(
    (a, b) =>
      new Date(b.lastRead).getTime() -
      new Date(a.lastRead).getTime()
  );
---
<p class="font-display font-semibold text-sm text-text-primary leading-snug">Recent Bible Reading</p>
{activeReadings?.length > 0 && (
  <div class="flex gap-4 overflow-x-auto snap-x snap-mandatory py-2  text-white scrollbar-thin scrollbar-thumb-border scrollbar-track-transparent">
    {activeReadings.map((reading) => (
      <article
        class="min-w-[125px] snap-start rounded-xl border border-slate-200 px-2 py-1 shadow-sm"
      >
        <!-- TOP ROW -->
        <div class="flex items-center justify-between">
          <h3 class="text-sm font-semibold truncate">
            {reading.book}
          </h3>

          <span class="text-xs text-slate-400">
            {reading.progress}%
          </span>
        </div>

        <!-- PROGRESS BAR -->
        <div class="mt-2 h-1 rounded-full bg-slate-200">
          <div
            class="h-1 rounded-full bg-blue-600"
            style={`width: ${reading.progress}%`}
          />
        </div>

        <!-- BOTTOM ROW -->
        <div class="mt-2 flex items-center justify-between text-xs text-slate-500">
          <span>Last read</span>
          
          <span class="text-slate-300">
            <RelativeDate client:load date={reading.lastRead} />
          </span>
        </div>
      </article>
    ))}
  </div>
)}